/* Fikse slik at nettsiden er hele nettsiden og font */
body {
    margin:-1px;
    font-family: "Candara", Arial, sans-serif;
    background-color: white;
}

/* design for alle overskriftene */
h1, h2 ,h3, h4, h5, h6 {
    font-family: "Century Gothic", Arial, sans-serif;
    color: #94BEE6;
    text-align: center;
}


/* Lenker for overskrifter i den sorte boksen */
.kontrast h1 a {
    color: #FFFFFF;
}

/* Div med hele nettsiden */
.innhold {
    display: flex;
    flex-flow: row wrap;
}

/* Headeren */
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 64px;
    border-bottom: #000000 solid;
}

/* sidebaren */
.sidebar {
    display: flex;
    flex: 1;
    background-color: #94BEE6;
}


/* Har all hoved informasjonen */
.hovedbar {
    flex: 6;
    min-height: 500px;
}

/* bakgrunnsbilde av laget for "Hjem" */
.gruppebilde1 {
    background: url(Redigerte\ bilder/lagbilde1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* bakgrunnsbilde av noen på banen for "Info til medlemmer"*/
.banebilde1 {
    background: url(Redigerte\ bilder/banebilde1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Footer start */
footer {
    display: flex;
    flex-flow: column wrap;
    flex: 100%;
    min-height: 64px;
    border-top: #000000 solid;
    border-bottom: #000000 solid;
}

footer table {
    flex: 100%;
}

footer table tr, footer table tr td {
    text-align: center;
}

/* Footer slutt */

/* Logoene i venstere hjørnet*/
.logo {
    height: 100%;
}

/* div med Logoene i venstere hjørnet */
.logoliste {
    display: flex;
    height: 80%;
}

/* fikse oslolacrosse logoen */
#oslolacrosse {
    height: 90%;
    align-self: center;
}

/* gjennomsiktig sort tekstboks */
.kontrast {
    background-color: rgba(0, 0, 0, 0.8);
    width: 70%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px;
    padding-top: 20px;
    color:#FFFFFF;
    border-radius: 5px;
}

.kontrast a {
    color: #94BEE6;
}

/* kontrast table start*/

.kontrast table {
    width: 100%;
}

.kontrast table tr td {
    width: 33%;
}

.kontrast table tr th {
    color: #94BEE6;
}

.kontrast table tr th, .kontrast table tr td {
    padding: 5px;
}

.kontrast table .overskrift {
    text-align: left;
}

.kontrast table, .kontrast table tr td, .kontrast table tr th {
    border: #FFFFFF solid;
    border-collapse: collapse;
    text-align: center;
}

/* kontrast table slutt*/

/* Bildegalleri start */

.bildegalleri {
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
}

.bildegalleri video {
    flex: 45%;
    width: 45%;
    padding: 10px;
    border-radius: 20px;
}

.bildegalleri img {
    flex: 25%;
    width: 25%;
    padding: 10px;
    border-radius: 20px;
}

/* Bildegalleri slutt*/

/* Navigering start */

nav {
    display: flex;
    justify-content: center;
    flex: 1;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    padding: 10px;
    margin: 0;
}

nav ul li {
    display: inline;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 120px;
    padding: 10px;
    margin: 2px;
    height: 40px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    transition-duration: 0.5s;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #94BEE6;
}

nav ul li .vierher {
    color: #94BEE6;
}

/* Navigering slutt */

/* Resposiv Css */
@media (min-width: 769px) {
    header {
        flex: 100%;
    }
}
@media (max-width: 768px) {
    .innhold {
        flex-flow: column wrap;
    }

    .banebilde1, .gruppebilde1 {
        border-top: #000000 solid;
        background: #FFFFFF;
    }

    .kontrast {
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0;
        width: 80%;
    }

    .bildegalleri {
        flex-flow: column wrap;
    }

    .bildegalleri img, .bildegalleri video {
        width: 100%;
    }

    header {
        justify-content: center;
    }

    footer {
        background-color: #94BEE6;
    }

    footer a {
        color: #000000;
    }
}