@import url(https://fonts.bunny.net/css?family=aldrich:400|jetbrains-mono:300);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
.dropdownbutton {
  color: var(--buttonTextColor);
  text-decoration: none;
  background-color: var(--buttonColor);
  padding: 10px;
  width: max-content;
  border-radius: 2px;
  height: min-content;
  box-sizing: border-box;
  box-shadow: black 0 1px calc(1px*2);
}

.dropdownbutton:hover {
  border: solid 1px var(--buttonBorderColor);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -100%;
  user-select: none;
}

.dropdown-content a {
  padding: 12px 16px;
  border-radius: 0;
  border-top: unset;
  border-bottom: unset;
  height: min-content;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.dropdown-content a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: solid 2px var(--border-color);
}

.dropdown-content a:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: solid 2px var(--border-color);
}

.focusbtn {
  text-decoration: underline;
}

header {
  display: flex;
  background-color: var(--headerColor);
  min-height: 64px;
  align-items: center;
  box-shadow: black 0 1px calc(1px*2);
}

header img {
  justify-self: flex-start;
  align-self: start;
  padding: 10px;
  height: 54px;
}

header nav {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

header nav .fa {
  display: none;
  color: var(--buttonTextColor);
}

header nav a {
  color: var(--buttonTextColor);
  text-decoration: none;
  background-color: var(--buttonColor);
  padding: 10px;
  width: max-content;
  border-radius: 2px;
  height: min-content;
  box-sizing: border-box;
  box-shadow: black 0 1px calc(1px*2);
}

header nav a:hover {
  border: solid 1px var(--buttonBorderColor);
}

@media (max-width: 970px) {
  header nav {
    display: flex;
    flex-flow: column;
    align-items: end;
  }
  header nav a {
    display: none;
    align-self: center;
    margin: 5px;
  }
  header nav .fa {
    display: unset;
    padding: 30px;
    cursor: pointer;
  }
  header nav .fa:hover {
    background-color: rgba(255, 255, 255, 0.5333333333);
  }
}
@media (min-width: 970px) {
  header nav a {
    display: block !important;
  }
}
body {
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

main {
  min-height: 81.6vh;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: "aldrich", sans-serif;
}

footer {
  width: 100%;
  background-color: var(--mainColor);
  color: var(--buttonTextColor);
}

footer table {
  margin: auto;
  padding: 20px;
}

footer a {
  color: var(--buttonTextColor);
}

#articleCreator {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#articleCreator input, #articleCreator textarea {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  border-radius: 5px;
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);
}

#articleCreator label {
  width: 100%;
  background-color: unset;
  color: unset;
}

#articleCreator a {
  color: var(--foregroundColor);
}

#articleCreator p {
  text-align: center;
}

#headlineInput {
  text-align: center;
  font-size: 2em;
  width: 50%;
  margin-bottom: 30px;
  margin-top: 10px;
}

#contentInput {
  width: 95%;
  min-height: 500px;
  text-align: left;
  margin-bottom: 20px;
}

#submitBTN {
  font-size: 1.5em;
  width: 30%;
}

#submitBTN:disabled {
  background-color: var(--disabledColor);
  cursor: not-allowed;
}

.articleList {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: auto;
}

.articleList > a {
  display: flex;
  flex-flow: column-reverse;
  background-color: var(--articleColor);
  color: var(--articleListingTextColor);
  border-radius: 10px;
  margin: 10px 0 10px 0;
  text-decoration: none;
  text-align: center;
  flex-shrink: 0;
  box-sizing: border-box;
  box-shadow: black 0 1px calc(1px*2);
}

.articleList > a:hover {
  border: solid 1px var(--buttonBorderColor);
}

.articleList > a div {
  padding: 0;
  margin: 0;
  background-color: var(--articleListingColor);
  border-radius: 0 0 10px 10px;
}

.articleList .priority-1 {
  min-width: calc(100%/1);
  height: calc(500px/1);
}

.articleList .priority-2 {
  min-width: calc(100%/2);
  height: calc(500px/2);
}

.articleList .priority-3 {
  min-width: calc(100%/3);
  height: calc(500px/3);
}

.articleDisplay {
  background-color: var(--articleColor);
  border-radius: 25px;
  margin: 10px auto 10px auto;
  width: 50vw;
  padding: 20px 50px;
  box-shadow: black 0 1px calc(1px*2);
  color: var(--articleText);
}

.articleDisplay a {
  color: var(--articleText);
}

.articleDisplay > h3, .articleDisplay > h4, .articleDisplay > h5, .articleDisplay > h6 {
  text-align: unset;
}

.articleDisplay img {
  width: 100%;
}

.articleHeadline h1 {
  text-align: center;
}

.articleHeadline p {
  text-align: center;
  text-decoration: underline;
}

@media (max-width: 970px) {
  .articleDisplay {
    width: min-content;
    min-width: 70vw;
  }
}
.articleDisplay .login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  min-height: 150px;
}

.articleDisplay .login button {
  color: var(--articleText);
  background-color: var(--backgroundColor);
}

.articleDisplay .login label input {
  color: var(--articleText);
  background-color: var(--backgroundColor);
}

.errormsg {
  color: var(--errorColor);
  background-color: var(--errorBackground);
  text-decoration: underline;
  margin: 20px auto 20px auto;
  text-align: center;
  width: max-content;
  padding: 20px;
  border: solid 1px var(--errorColor);
}

/*# sourceMappingURL=style.css.map */
