:root {
    --main-color: #75c0de;
    --border-color: var(--main-color);
    --inner-border-color: #ef8b2c;
    --foreground-color: #FFFFFF;
    --background-color: #000000;
    --background-alpha: rgba(0, 0, 0, 0.8);
    --header-background-color: var(--background-color);
    --left-background-color: var(--background-color);
    --footer-color: var(--background-color);
    --button-background-color: var(--background-color);
    --button-hover-background-color: var(--background-color);
}