@use "root"

.articleList
  @include root.flexbox-default(row wrap)
  width: 80%
  margin: auto
  //& > div
    display: flex
    flex-flow: row
    overflow-x: scroll
    width: 100%
  & > a
    @include root.flexbox-default(column-reverse)
    background-color: var(--articleColor) //var(--articleListingColor)
    color: var(--articleListingTextColor)
    //padding: 5px 50px 30px 50px
    border-radius: 10px
    margin: 10px 0 10px 0
    text-decoration: none
    text-align: center
    flex-shrink: 0
    @include root.default-options
    @include root.standard-box-shadow
    &:hover
      @include root.default-border
    div
      padding: 0
      margin: 0
      background-color: var(--articleListingColor)
      border-radius: 0 0 10px 10px
  @for $i from 1 to 4
    .priority-#{$i}
      //flex: calc(100%/#{$i})
      min-width: calc(100%/#{$i})
      height: calc(500px/#{$i})