@use "root"
@use "articleCreator"
@use "articleLists"

.articleDisplay
  background-color: var(--articleColor)
  border-radius: 25px
  margin: 10px auto 10px auto
  width: 50vw
  padding: 20px 50px
  @include root.standard-box-shadow
  color: var(--articleText)
  & a
    color: var(--articleText)
  & > h3, & > h4, & > h5, & > h6
    text-align: unset
  img
    width: 100%

.articleHeadline
  & h1
    text-align: center
  & p
    text-align: center
    text-decoration: underline

@media (max-width: root.$smallestBreakPoint)
  .articleDisplay
    width: min-content
    min-width: 70vw
