.errormsg
  color: var(--errorColor)
  background-color: var(--errorBackground)
  text-decoration: underline
  margin:  20px auto 20px auto
  text-align: center
  width: max-content
  padding: 20px
  border: solid 1px var(--errorColor)
