@use "root"
@use "dropdown"


.focusbtn
  text-decoration: underline
header
  display: flex
  background-color: var(--headerColor)
  min-height: 64px
  align-items: center
  @include root.standard-box-shadow
  & img
    justify-self: flex-start
    align-self: start
    padding: 10px
    //background-color: var(--backgroundColor)
    //border-bottom: solid var(--headerColor)
    height: calc(64px - 10px)
  & nav
    @include root.flexbox-default()
    width: 100%
    justify-content: space-around
    align-items: center
    & .fa
      display: none
      color: var(--buttonTextColor)
    & a
      @include root.navigation-buttons

// BREAKPOINTS
@media (max-width: root.$smallestBreakPoint)
  header
    & nav
      @include root.flexbox-default(column)
      align-items: end

      & a
        display: none
        align-self: center
        margin: 5px
      & .fa
        display: unset
        padding: 30px
        cursor: pointer
        &:hover
          background-color: #FFFFFF88

@media (min-width: root.$smallestBreakPoint)
  header
    & nav
      & a
        display: block !important