@use "root"
.articleDisplay
  .login
    @include root.flexbox-default(column nowrap)
    justify-content: space-around
    margin: auto
    text-align: center
    min-height: 150px
    button
      color: var(--articleText)
      background-color: var(--backgroundColor)
    label
      input
        color: var(--articleText)
        background-color: var(--backgroundColor)