@mixin default-options
  box-sizing: border-box

@mixin standard-box-shadow($shadowSize: 1)
  box-shadow: black 0 #{$shadowSize}px calc(#{$shadowSize}px*2)

@mixin default-border($borderWidth: 1)
  border: solid #{$borderWidth}px var(--buttonBorderColor)

@mixin button-border($borderWidth: 1)
  border: solid #{$borderWidth}px var(--buttonBorderColor)

@mixin flexbox-default($flex-flow-options: row wrap)
  display: flex
  flex-flow: $flex-flow-options


@mixin navigation-buttons
  color: var(--buttonTextColor)
  text-decoration: none
  background-color: var(--buttonColor)
  padding: 10px
  width: max-content
  border-radius: 2px
  height: min-content
  @include default-options
  @include standard-box-shadow
  &:hover
    @include button-border

//$mainBreakPoint: 764px
$smallestBreakPoint: 970px