@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/*

Jeg Bruker Flere css filer, men Jeg bruker denne css filen på alle sider,
og bruker de andre filene bare for å sette farge
variablene og for å gjøre det enkelt å bytte temaer.

*/

/* Border 1px */
header,.sidebar,.hovedbar,footer {
    border: var(--border-color) 1px solid;
}

/* Border 2px */
header nav a, .hovedbar .overskrift img, .prosjektboks a {
    border: var(--border-color) 2px solid;
}

/* Border slutt */

body {
    font-family: "JetBrains Mono", serif;
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin: -0.2px;
}

.content {
    display: flex;
    flex-flow: row wrap;
}

header,.sidebar,.hovedbar,footer {

    min-height: 10px;
    min-width: 10px;
}

header,footer {
    flex: 100%;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-height: max-content;
}

header .logor {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: start;
    justify-self: start;
    width: 50%;
}

header .logor img {
    height: 80%;
    width: 64px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-self: start;
}

header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex:1;
    width: 50%;
    align-items: center;

}

header nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: var(--foreground-color);
    background-color: var(--button-background-color);
    text-decoration: none;
    transition-duration: 500ms;
    font-size: 1em;
    height: 2em;
    cursor: pointer;
}

header nav .understrek {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: var(--border-color) 2px solid;
}

header nav .understrek h3 {
    padding: 5px;
    text-decoration: underline;
    border: var(--inner-border-color) 1px solid
}

header nav h3 {
    color: var(--foreground-color);
}

header nav a:hover {
    background-color: var(--button-hover-background-color);
    font-size: 1.5em;
    transition-duration: 500ms;
}

header nav a:hover h3 {
    /*color: #00FF00;
    text-shadow: 3px 3px 0 #0000FF, #FF0000 -3px -3px;
    transition-duration: 100ms;*/
}

/* Start av dropdown */

.dropbtn {
  color: var(--foreground-color);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.dropdown-content a:hover {
   font-size: 1em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    left: -100%;
    user-select: none;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    border-radius: 0;
    border-top: unset;
    border-bottom: unset;
    height: min-content;
    font-size: 1em;
}
.dropdown-content a h3 {
    padding: 0;
}
.dropdown-content a:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: solid 2px var(--border-color);
}
.dropdown-content a:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: solid 2px var(--border-color);
}

/* Change color of dropdown links on hover */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



/* Slutt av dropdown */


.sidebar {
    background-color: var(--left-background-color);
    flex: 1;
    min-height: 500px;
}

.sidebar a {
    text-decoration: none;
    margin: 400px 0;
    margin-bottom: 20px;
    color: var(--main-color);
}

/* Hovedbar design start */
.hovedbar {
    flex: 9;
}

.hovedbar .overskrift {
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.hovedbar .overskrift div {
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.hovedbar .overskrift img {
    width: 30%;
    height: 30%;
    border-radius: 100%;
}

.hovedbar p {
    padding: 10px 7%;
}

.kontrast {
    background-color: var(--background-alpha);
    text-align: center;
    width: inherit;
}

/* Hovedbar design slutt */

/* Prosjekt boks start */

.prosjektboks {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.prosjektboks a {
    display: flex;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* FIXME: få teksten til å passe in i boksen selv når bredden på nettleseren er lav
   TODO: kasnsje gjøre høyden til prosjektboksene dynamisk
   Selve prosjektboksene */
.prosjektboks a {
    display: flex;
    background-color: var(--button-hover-background-color);
    flex-flow: row nowrap;
    margin: 20px auto;
    height: 200px;
    width: 70%;
    border-radius: 100px;
    transition-duration: 500ms;
}

.prosjektboks *{
    transition-duration: 500ms;
}

/* Bilder til venstre i prosjektboksen */
.prosjektboks a img {
    height: 100%;
    min-width: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transition: unset;
}

.prosjektboks a .bannerbilde {
    display: none;
    max-height: 0;
    transition-duration: 500ms;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0;
}

/* Teksten til høyre for bilde */
.prosjektboks a div {
    border-radius: 0;
    border: 0;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    height: unset;
    justify-content: center;
    text-align: center;
    transition-duration: 500ms;
}

.prosjektboks a div .utvidetprosjektboks {
    display: none;
}

.prosjektboks a div p {
    color: var(--foreground-color);
    padding-bottom: 20px;
}

/* Åpen prosjektboks Start */

.prosjektboks a:hover {
    flex-flow: column nowrap;
    min-height: 200px;
    height: auto;
}

.prosjektboks a:hover img {
    display: none;
}

.prosjektboks a:hover .bannerbilde {
    display: unset;
    max-height: 500px;
    height: auto;
}

.prosjektboks a:hover h3 {
    font-size: 2em;
}

.prosjektboks a:hover div p {
    display: none;
}

.prosjektboks a:hover div .utvidetprosjektboks {
    display: unset;
    margin-bottom: 20px;
}

/* Åpen prosjektboks Stopp*/

/* Prosjekt boks slutt */

/* Design Start */

.design {
    text-align: center;
    width: 60%;
    margin: 20px auto;
    border: solid var(--border-color) 2px;
    border-radius: 5px;
}

.design img {
    width: 50%;
}

.design table {
    border-collapse: collapse;
    border: 2px solid var(--border-color);
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: inherit;
    text-align: center;
    margin: auto auto 20px;
}
  
.design td, .design th {
    border: 1px solid var(--border-color);
    padding: 10px 20px;
}
  
.design th {
    background-color: var(--background-color);
}
  
.design td {
    text-align: center;
}
  
.design tr:nth-child(even) td {
    background-color: var(--background-color);
}
  
.design tr:nth-child(odd) td {
    background-color: var(--background-color);
}
  
/* Design Slutt */

footer {
    background-color: var(--footer-color);
}

footer table {
    width: 100%;
    padding: 10px;
}

footer table tr, footer table tr th, footer table tr td {
    text-align: center;
    width: 33%;
}

p a {
    color: var(--main-color);
    text-decoration: none;
}

footer table tr a {
    color: var(--main-color);
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--main-color);
}

.netpage {
    height: 80vh;
    width: 100%;
}

#videoCV {
    width: 100%;
    height: 40vh;
}

/* Breakpoints start*/

@media (max-width: 768px) {
    header nav {
        flex-flow: column;
    }

    .hovedbar {
        margin: 0;
        width: 100%;

    }

    .prosjektboks a {
        margin: 10px;
        width: 100%;
        flex-flow: column;
        border-radius: 125px;
        height: 250px;
    }

    .prosjektboks a img {
        width: auto;
        min-height: 125px;
        border-radius: 125px 125px 0 0;
    }

    .design {
        margin: 20px 0;
        border: none;
        width: inherit;
    }
    .design table tr {
    }

    .sidebar {
        display: none;
    }
}
@media (max-width: 900px) {
    .design {
        overflow-x: scroll;
    }

}
@media (max-width: 1215px) and (min-width: 768px) {
    header nav a:hover {
        font-size: unset;
    }
}
