:root {
    --main-color: #A61F1F;
    --border-color: var(--main-color);
    --inner-border-color: #F2CB05;
    --foreground-color: #333333;
    --background-color: #aaaaaa;
    --background-alpha: rgba(170, 170, 170, 0.8);
    --header-background-color: #333333;
    --left-background-color: #333333;
    --footer-color: #333333;
    --button-background-color: var(--main-color);
    --button-hover-background-color: var(--background-color);
}