:root {
  /* Specific colors */
  --backgroundColor: #111111 !important;
  --foregroundColor: #eeeeee !important;
  --articleColor: #000000dd !important;
}

:root {
  /* Specific colors */
  /* Main colors that are used on the site */
  --mainColor: #56e08d !important;
  --supportingColor: #39b1ff !important;
  --thirdColor: #9fa1ff !important;
  --fourthColor: #203e75 !important;
  --fithtColor: #e0abff !important;
  --articleText: var(--foregroundColor) !important;
  --headerColor: var(--mainColor) !important;
  --articleListingColor: var(--mainColor) !important;
  --articleListingTextColor: var(--fourthColor) !important;
  --buttonColor: var(--supportingColor) !important;
  --buttonTextColor: var(--backgroundColor);
  --buttonBorderColor: var(--thirdColor) !important;
  --disabledColor: gray !important;
  --shadow: black !important;
  /* Functional colors */
  --errorColor: #FF0000 !important;
  --errorBackground: #FF000010 !important;
}

/*# sourceMappingURL=dark-green.css.map */
