:root {
  /* Specific colors */
  --backgroundColor: #111111 !important;
  --foregroundColor: #eeeeee !important;
  --articleColor: #000000dd !important;
}

:root {
  /* Main colors that are used on the site */
  --mainColor: #203e75 !important;
  --supportingColor: #56e08d !important;
  --thirdColor: #39b1ff !important;
  --fourthColor: #9fa1ff !important;
  --fithtColor: #e0abff !important;
  --articleText: var(--foregroundColor) !important;
  --headerColor: var(--mainColor) !important;
  --articleListingColor: var(--mainColor) !important;
  --articleListingTextColor: var(--backgroundColor) !important;
  --buttonColor: var(--mainColor) !important;
  --buttonTextColor: #eeeeee;
  --buttonBorderColor: var(--mainColor) !important;
  --disabledColor: gray !important;
  --shadow: black !important;
  /* Functional colors */
  --errorColor: #FF0000 !important;
  --errorBackground: #FF000010 !important;
}

header nav a {
  box-shadow: unset !important;
}

/*# sourceMappingURL=dark-blue.css.map */
