@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body {
    font-family: "JetBrains Mono", serif;
    background-color: white;
}

.brukerVeledning {
    font-size: 1.5em;
}

.partier {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.partier div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    width: 300px;
    height: 300px;
    padding: 25px;
    border-radius: 25px;
}

.partier div:hover {
    background-color: aqua;
    transition-duration: 500ms;
}

.partier div img {
    width: 200px;
    height: 200px;
}

.partier div h2 {
    text-align: center;
    background-color: deeppink;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    user-select: none;
}

.devTools h2:not(.devTools .allowvote h2) {
    padding: 5px;
    background-color: green;
    margin: 10px 40%;
    border-radius: 5px;
    text-align: center;
    user-select: none;
}

.allowVote {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 40%;
    background-color: green;
    text-align: center;
    user-select: none;
}

/* Statestikk */

.resultater {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: end;
    min-height: 500px;
}

.resultater div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.resultater div div {
    height: 200px;
    background-color: green;
    width: 30px;
}
